
body {
    background: #f7f7f7;
}
.profile-area{
	margin-top: 50px;
	overflow: hidden;
}
.sidebar-nav .brand-logo {
    text-align: center;
    padding-top: 13px;
    margin-bottom: 32px;
}
div.profile-area img.brand-logo {
    margin-top: 0;
    z-index: 99;
    position: fixed !important;
    top: 11px;
}
.sidebar-nav .brand-logo img {
    height: 15px;
}