.container{
	margin-left:70px;
}
.profile-area{
	margin-top: 50px;
}

.profile-area img {
  	max-width: 150px;
  	margin-bottom: 20px;
}
.heading1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.settings-form-block{
	margin-top:30px;
	margin-left:5px;
}
.integration-block{
	background-color: #f5f5f5;
}
.integration-block-grayout{
	background-color: #f5f5f5;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}
.image-block{
	border-bottom: solid 1px #e7e7e7;
	height:80px;
}
.img-square{
	margin-left:20px;
	margin-top:20px;
}
.img-spotify{
	margin-left:20px;
	margin-top:20px;
}
.en_button{
	margin: 7px 3px;
	width:100px;
}
.text-block1{
	height:77px;
	margin-bottom:8px;
}
.text-block2{
	height:77px;
}
.subtext{
	font-weight:200;
	color:#666;
	letter-spacing:0.3px;
	margin:40px 30px;
	font-size:20px;
}
